<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/db_films?serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1111</property>
        <mapping resource="ActorFilm.hbm.xml"/>
        <mapping class="com.company.package_tables.ActorFilm"/>
        <mapping resource="Actors.hbm.xml"/>
        <mapping class="com.company.package_tables.Actors"/>
        <mapping class="com.company.package_tables.Comments"/>
        <mapping resource="Comments.hbm.xml"/>
        <mapping class="com.company.package_tables.Dubbing"/>
        <mapping resource="Dubbing.hbm.xml"/>
        <mapping resource="Films.hbm.xml"/>
        <mapping class="com.company.package_tables.Films"/>
        <mapping resource="Languages.hbm.xml"/>
        <mapping class="com.company.package_tables.Languages"/>
        <mapping resource="VoiceActing.hbm.xml"/>
        <mapping class="com.company.package_tables.VoiceActing"/>


        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>